<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit"/><!-- 让360浏览器默认选择webkit内核 -->
    <!--jquery-->
    <script src="${ctxPath}/static/js/jquery.min.js?v=2.1.4"></script>
    <!-- 全局css -->
    <link rel="shortcut icon" href="${ctxPath}/static/favicon.ico">
    <link href="${ctxPath}/static/css/bootstrap.css" rel="stylesheet">
    <!--layer-ui-->
    <link href="${ctxPath}/static/plugins/layui/css/layui.css" rel="stylesheet">
    <script src="${ctxPath}/static/plugins/layui/layui.all.js"></script>

    <script src="${ctxPath}/static/js/CommonUtil.js"></script>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    ${layoutContent}
</div>
</body>
</html>
